html body {
    margin: 0px auto;
}

.flexbox-authentication-container {
    min-height: 100px;
}

.header-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.flexbox-method {
    padding: 8px;
}

input:focus::placeholder {
    opacity: 0.7;
}