html body {
    margin: 0px auto;
}

.flexbox-authentication-container {
    min-height: 60px;
}

.header-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.flexbox-method {
    padding: 8px;
}

.totp_qr_image {
    display: none;
}

.totp_qr_text {
    display: none;
    text-align: center;
    text-decoration: underline;
    color: black;
}

.totp_secret {
    text-align: center;
    margin-bottom: 10px;
}

._hidden {
    display: none;
}

input:focus::placeholder {
    opacity: 0.7;
}